@import "tailwindcss";

:root {
  --background: #f8f8f5;
  --foreground: #1c1c0d;
  
  /* New palette */
  --primary: #A855F7;
  --primary-content: #ffffff;
  --background-light: #f8f8f5;
  --background-dark: #121212;
  --text-light: #1c1c0d;
  --text-dark: #fcfcf8;
  --surface-light: #ffffff;
  --surface-dark: #1E1E1E;
  --accent-purple: #D8B4FE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Custom colors */
  --color-primary: var(--primary);
  --color-primary-content: var(--primary-content);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);
  --color-surface-light: var(--surface-light);
  --color-surface-dark: var(--surface-dark);
  --color-accent-purple: var(--accent-purple);
  
  /* Custom fonts */
  --font-display: "Spline Sans", "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #fcfcf8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display, Arial, Helvetica, sans-serif);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
